* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #c3cfe2, #e2ebf0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: #ffffff;
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 10px ;
}

li {
    margin-bottom: 10px;
}

label {
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background: #6c63ff;
    color:#fff;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #554fd8;
}

.result {
    text-align: center;
}